[2020-06-24 20:58] #698 closed

[2020-07-07 18:31] angelsl opened #701 "`credentialScope` is not applied"
### Environment

* Elixir & Erlang versions (elixir --version): 1.10.3
* ExAws version: 2.1.3
* HTTP client version: Hackney 1.16.0

### Current behavior

`credentialScope` from `priv/endpoints.exs` does not seem to be applied:

[code]

### Expected behavior

The request should succeed.

[2020-07-07 18:31] benwilson512 commented on #701
Hi @angelsl please provide more information, how have you configured ExAws's credentials?

[2020-07-07 18:44] angelsl commented on #701
As part of configuration:

[code]

Specifying `service_override` works as a workaround. (Also, I had to use RestQuery instead of JSON.)

[code]

[2020-07-07 19:19] benwilson512 commented on #701
I still don't understand this error. please provide more information about what should be happening, what is credentialScope?

[2020-07-07 20:17] angelsl commented on #701
I'm referring to [this](https://github.com/ex-aws/ex_aws/blob/master/priv/endpoints.exs#L1172).

When making an AWS request, you use your access key and secret key to derive a HMAC key to sign the request. The credential scope is used in the derivation.

For most services, the credential scope is identical to the service name. For some services, it is not. `iot` is one such service.

[2020-07-07 20:22] angelsl commented on #701
Basically, what should be happening is that ExAws uses the correct credential scope based on the service name specified. The data is even there in `priv/endpoints.exs`&mdash;it just doesn't seem to be used at the moment.

[2020-07-07 21:15] benwilson512 commented on #701
Got it, thanks! I'll look into it.

[2020-07-14 10:24] westymalik opened #702 "Support for AWS LambdaRole, if running as aws lambda service"
Hi guys,

Interested in knowing, if you would be supporting the aws lambda role sometime soon?

Regards,
Westy

[2020-07-14 10:40] #702 closed

[2020-07-15 10:47] JakubCzarniecki commented on #695
👍  for the idea. I am currently evaluating how to use DAX from Elixir / Erlang project that handles DDB table with up to 100K read units, so leveraging DAX would bring AWS costs down a lot and DAX seems more reliable than building something on top of `ExAws.Dynamo` to use self-hosted Redis (ElastiCache) cluster.

As for ideas to quickly get it done, there are several official DAX clients.
The most

[2020-07-15 12:27] benwilson512 commented on #695
I would definitely caution against using python. You'll lose any ability to do things in the normal Elixir concurrent style which will ruin whatever performance benefits you gain via the accelerated connection. We should aim for a native client. I don't get the impression it'd be particularly difficult to setup, it just requires someone to have time.

[2020-07-21 21:09] kerryjj opened #703 "Listing S3 objects with space or unicode characters in the key fails"
### Environment

* Elixir & Erlang versions (elixir --version):
Erlang/OTP 21 [erts-10.3.5.11] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe] [dtrace]
Elixir 1.8.2 (compiled with Erlang/OTP 21)

* ExAws version `mix deps |grep ex_aws`
2.1.3

* HTTP client version. IE for hackney do `mix deps | grep hackney`
1.15.2

### Current behavior

When using `ExAws.S3.list_objects_v2` or `E

[2020-07-21 21:17] kerryjj commented on #703
Here's the PR #704

I think this fixes the issue. Let me know what you think and if there's something I've missed here in terms of how these methods are used.

[2020-07-29 07:39] tanweerdev opened #705 "For no obvious reasons, my request hangs when I try to upload hundreds of images/files to aws"
### Environment

* Elixir & Erlang versions (elixir --version):
  Erlang/OTP 22 [erts-10.7.1] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]
  Elixir 1.10.2 (compiled with Erlang/OTP 21)

* ExAws version `mix deps |grep ex_aws`:
  ex_aws 2.1.3 (Hex package) (mix)
  locked at 2.1.3 (ex_aws) 0bdbe2ae
* HTTP client version. IE for hackney do `mix deps | grep hackney`:
   hackney 1.1

[2020-07-29 07:40] tanweerdev commented on #705
Note: it works for smaller files (total fille size) of upto 10-15 mb

[2020-07-30 09:09] tomaspinho opened #706 "Release code in master"
We're asking for a release of the code currently in master, we've spent a few hours debugging the issue fixed by https://github.com/ex-aws/ex_aws/commit/42521e7a4f07204d4cd455e43e075d69de2078d1 as a team only to find that it had already been fixed in master and not the latest version in hexpm, which we were using.

[2020-08-03 18:59] SolbiatiAlessandro opened #707 "Support for IVS (Interactive Video Service)"
* Do not use the issues tracker for help or support (try Elixir Forum, Slack, IRC, etc.)
* Questions about how to contribute are fine.

### Environment

Elixir 1.10.3 (compiled with Erlang/OTP 22)
ex_aws 2.1.3 (Hex package) (mix)

### Current behavior

Following the tutorial I am trying to call the endpoint for AWS IVS (https://docs.aws.amazon.com/ivs/)

[code]

I get the following error

[code]

[2020-08-07 14:17] anthonator opened #708 "Requesting repo for ex_aws_acm"
I put together ACM support for ExAws and would like to request a repo.

https://github.com/malomohq/ex_aws_acm

I'm happy to maintain this project.

[2020-08-13 18:10] ylebedeva commented on #706
Our team needs this fix as well for an app in production. Would it be possible to release a patched version in the near future?

[2020-08-14 10:16] tomaspinho commented on #706
Looks like @benwilson512 just released it!

[2020-08-14 10:16] #706 closed

[2020-08-18 08:26] sulabh-kothari opened #709 "Could not find how to add security token (AWS Session Token) in the documentation"
* Elixir  1.10.4
* ExAws version 2.1.4

The README file does not tell how to set the AWS session token. Our call was continuously failing to connect with AWS with the 2 parameters set (`access_key_id` and `secret_access_key`). These are the only 2 parameters described in the readme documentation. We had to figure out from the source code that aws session token can be set as `security_token`. It wi

[2020-08-26 17:04] SolbiatiAlessandro commented on #707
I fixed it, just need to add the defaults options to the "partition" file
https://github.com/habiter-app/ex_aws/commit/d87fb98cc72a974c30f656dd1a95118c440321ef

[2020-08-26 17:04] #707 closed

[2020-08-27 19:02] Nitrodist commented on #709
@sulabhk-deserve same

[2020-09-24 09:26] MattLongCode opened #713 "Add a logo for this repository"
### Current behavior

No logo.

### Expected behavior

Add a logo.

### Reason

It could look better.

[2020-09-24 09:27] MattLongCode commented on #713
![image](https://user-images.githubusercontent.com/6936706/94127221-917dc900-fe50-11ea-9cb2-20298b50271d.png)

[2020-09-24 17:41] benwilson512 commented on #713
Hi Matt, there are no plans to add a logo, thanks.

[2020-09-24 17:41] #713 closed

[2020-10-05 23:58] mike-foucault opened #714 "Requesting repo for ex_aws_timestream"
Hi,

Amazon Timestream database is now generally available.

I wrote an ex_aws_timestream service module and I would like it to be shared under github.com/ex-aws.
https://github.com/mike-foucault/ex_aws_timestream
https://hex.pm/packages?search=ex_aws_timestream&sort=recent_downloads

Example (in region eu-west-1):

[code]

Response:

[code]

All API actions are wrapped (https://docs.aws.amazon.co

[2020-10-08 14:00] rwperez opened #718 "Requesting PR#697 to be merged (Chime support)"
https://github.com/ex-aws/ex_aws/pull/697 has been sitting out there for quite some time.  We are currently using a fork.  Any way we can get this merged?

[2020-10-08 14:42] benwilson512 commented on #718
https://github.com/ex-aws/ex_aws#deprecation-notice

[2020-10-08 14:42] benwilson512 commented on #714
https://github.com/ex-aws/ex_aws#deprecation-notice

[2020-10-08 14:42] benwilson512 commented on #709
https://github.com/ex-aws/ex_aws#deprecation-notice

[2020-10-08 14:42] benwilson512 commented on #708
https://github.com/ex-aws/ex_aws#deprecation-notice

[2020-10-08 14:42] benwilson512 commented on #705
https://github.com/ex-aws/ex_aws#deprecation-notice

[2020-10-08 15:46] #718 closed

[2020-10-19 05:49] bernardd commented on #626
Thanks @runlevel5

[2020-10-19 05:49] #626 closed

[2020-10-19 05:49] #627 closed

[2020-10-19 05:54] bernardd commented on #632
I'm going to call this closed by #658 - thanks!

[2020-10-19 05:54] #632 closed

[2020-10-19 05:57] bernardd commented on #610
Looks like eu-north has been added for at least some services, so I'm gonna close this.. For future reference, endpoints.exs is hand-crafted, so feel free to add things via PRs as you find them.

[2020-10-19 05:57] #610 closed

[2020-10-19 06:00] bernardd commented on #636
Hi @rageofflames - I realise it's been a while, but if you're still maintaining the ex_aws_rekognition repo I'm happy to set you up an official one here - let me know.

[2020-10-19 06:14] bernardd commented on #654
@juantascon It was, kind of, but it's back now :) If you're still maintaining ex_aws_mediaconvert I'm happy to set you up a repo for it.

[2020-10-19 06:19] bernardd commented on #677
Hi @seanedwards - are you still working on this? It's exactly the kind of thing I'd like to start using to ease the maintenance of service modules (as well as simplify the creation of new ones). Cheers.

[2020-10-19 06:20] #683 closed

[2020-10-19 06:29] bernardd commented on #709
I'm more than happy for this to be added to the docs if someone would be kind enough to sumit a PR.

[2020-10-19 06:34] bernardd commented on #708
Hi @anthonator - I've set up the repo for you: https://github.com/ex-aws/ex_aws_acm/
Have fun, and thanks!

[2020-10-19 06:34] #708 closed

[2020-10-19 06:38] bernardd commented on #714
Hi @mike-foucault - I've set you up a repo at https://github.com/ex-aws/ex_aws_timestream
Thanks and have fune!

[2020-10-19 06:38] #714 closed

[2020-10-20 08:45] rageofflames commented on #636
Hey @bernardd - yes, we would like to centralise the Rekognition service with the rest 🙌

[2020-10-20 23:50] bernardd commented on #636
Done - you should be all set. Thanks!

[2020-10-20 23:50] #636 closed

[2020-10-22 09:41] xshadowlegendx opened #724 "presigned_url throw argument error of expected keyword list instead of two element tuple"
## Environment

* Elixir & Erlang versions (elixir --version): 1.11.1
* ExAws version `mix deps |grep ex_aws` 2.1.1
* HTTP client version. IE for hackney do `mix deps | grep hackney` 1.15.2

### Current behavior

got error thrown when try to get presign url

Include code samples, errors and stacktraces if appropriate.

stack trace

[code]

`presigned_url` function within `AppServer.FileUpload` mod

[2020-10-24 08:23] xshadowlegendx commented on #724
the problem gone after update `ex_aws` library to `2.1.6`

[2020-10-24 08:23] #724 closed

[2020-10-30 21:54] axelson commented on #724
I believe this was fixed in this commit: https://github.com/ex-aws/ex_aws/commit/d598effef7f7c9e110c4e991fb68d6c5a922aaff

[2020-11-10 17:29] peillis commented on #669
I've seen the same error, but not using containers, just regular ec2 instances.

[2020-11-17 00:45] ludwikbukowski commented on #191
if you spawn concurrent processes that upload the parts it still allocates whole memory... Can we make it configurable so that parts are uploaded sequentially ?

[2020-11-17 00:54] ericmj commented on #191
Set `max_conconcurrency: 1`. https://hexdocs.pm/ex_aws_s3/ExAws.S3.html#upload/4

[2020-11-17 00:55] ludwikbukowski commented on #191
great, thank you.

[2020-11-23 21:48] Ivor opened #727 "Support for af-south-1"
Currently the new region: `af-south-1` for Cape Town in South Africa is not added in the [endpoints.exs](https://github.com/ex-aws/ex_aws/blob/master/priv/endpoints.exs) file.

I'm not sure how that file is structured.
As an example of what I am trying to do:
I have instances in Paris and Cape Town.
If I list the Paris instances with ExAws.ExAws.Ec2:

[code]

[2020-12-16 10:36] annienencheva opened #730 "Support for eu-south-1 region missing for S3 service"
### Environment

* Elixir & Erlang versions: Elixir 1.11.0 (compiled with Erlang/OTP 23)
* ExAws version:  ex_aws 2.1.6, ex_aws_s3 2.1.0
* HTTP client version: hackney 1.16.0

### Current behavior
Seems like buckets located in the eu-south-1 region can't be used.
[code]

Would adding `"eu-south-1" => %{}` [here](https://github.com/ex-aws/ex_aws/blob/master/priv/endpoints.exs#L1263) be enough?

[2020-12-19 00:54] bernardd commented on #730
Should be, yeah. Assuming it works for you it'd be great to get a PR. Cheers.

[2020-12-29 14:09] jnylen commented on #682
Indeed @kw7oe,
There should be a way to bypass it when the developer knows the region exists and that the service supports it.

Either by a `bypass_checks: true` or just bypass it completely when the host doesn't have an amazon-specific domain.
These checks basically ruins an easy addition of a third-party provider such as DO or Backblaze.

[2021-01-04 00:25] bernardd commented on #682
Remember, though, that the endpoints file doesn't just check for the existence of a service/location but also contains any specific configuration for it. Having said that, I'm aware it's a pain since, besides anything else, AWS is constantly adding stuff.

I think a better solution might be to allow runtime patching of the endpoint data so that you don't have to wait for version updates if you kno

[2021-01-05 09:53] aseigo opened #733 "Signing URLs with query params appears to be broken in PR#660"
### Environment

* Elixir & Erlang versions: Elixir 1.11.2 on Erlang/OTP 23 [erts-11.1.5]
* ExAws 2.1.6
* hackney 1.17.0

### Current behavior

I noticed this when running the `ex_aws_s3` test suite which now fails at https://github.com/ex-aws/ex_aws_s3/blob/2482ca3827f67ff50f238e07a567b7b769833c7f/test/lib/s3_test.exs#L371

Prior to PR#660 the path was being `uri_encode`d, which meant that query

[2021-01-05 11:16] bernardd commented on #733
My problem at the moment is that I only just took over this project and one of the main things Ben told me as he disappeared into the sunset was "by the way, the URL signing is all over the place and every time someone provides a PR to fix it, it breaks it for someone else". Looks like he wasn't joking.
My plan at the moment is to actually get some decent tests up and running to exercise all this

[2021-01-05 13:10] aseigo commented on #733
Re: tests -> that's a great idea. There seem to be more tests that exercise this code in the ex_aws_s3 repo (which is how I found this issue: by running its test suite!), so maybe that could be a starting point worth looking at.

I located what appears to be the official documentation on URL signing: https://docs.aws.amazon.com/general/latest/gr/sigv4_signing.html

Not hard to see how tricky this

[2021-01-15 17:09] mbklein opened #738 "Override request timeout per request (or at least per service)"
### Environment

* Elixir 1.11.1 / OTP 23
* ExAws 2.1.6
* hackney 1.17.0

### Current behavior

Per the [`ex_aws` docs](https://hexdocs.pm/ex_aws/ExAws.html#module-hackney-configuration), The HTTP client timeout can be set globally in the app config. I have not been able to figure out how to override that for a specific call (other than changing the global config using `Application.put_env/3` righ

[2021-01-26 22:59] mbklein commented on #738
I've figured this out.

[code]

works just fine. I don't know why it took me this long.

[2021-01-26 22:59] #738 closed

[2021-01-29 21:17] aks opened #740 "Remove list of hard-coded region names"
Why does `ex_aws` have a hard-coded list of region names?  That's silly.

AWS itself should be the Source of Truth on what region names are acceptable or not.

As soon as a name is hard-coded, it is likely (possible) to be out-of-date, or missing names that *are* acceptable.  Either way, the SDK becomes less useful.

Remove the hard-coded list, trust that the client knows the right names, and trus

[2021-02-05 05:36] mohandass-pat commented on #524
Hey, Is this feature added?. If there is any way to set custom metadata in the PUT method Presigned URL? Can you please share any examples for that?

Thanks in advance

[2021-02-08 23:28] sparkertime opened #743 "Incorrect spec on ExAws.Request.HttpClient ?"
There's a mismatch between the behavior `ExAws.Request.HttpClient` and the parameters returned by its implementation `ExAws.Request.Hackney`.

The behavior is typed as returning

[code]

`ExAws.Request.Hackney` returns an additional `headers` key like roughly so

[code]

This only matters because ex_aws_s3 requires the headers to be present even though they aren't in the behavior's specification.

[2021-02-26 03:48] johns10 opened #746 "add_bucket_to_path may construct path incorrectly on windows machines"
### Environment
IEx 1.11.2 (compiled with Erlang/OTP 21) (second computer I've tried this on)
This only happens in Windows, possibly because of how paths are constructed.  I tried the exact same operations on my wsl instance, and it ran fine.  I've tried this on two windows machines.
{:ex_aws, "> 2.1.7"},
{:hackney, "> 1.9"},`

using with
{:waffle, "> 1.1.3"},
{:waffle_ecto, "> 0.0.9"},
{:ex_aws_s

[2021-03-05 23:27] bernardd commented on #746
Good catch - thanks for taking the time to pin down the issue. I've pushed a fix in #749 which keeps the resolution behaviour (expansion of `.` and `..` paths) but should work safely on Windows. Please let me know how you get on with it.

[2021-03-05 23:43] bernardd commented on #743
Good catch, thanks. I've updated the spec in #750

[2021-03-05 23:43] #743 closed

[2021-03-07 00:35] goodells commented on #740
Considering how many issues on this repository are due to unsupported regions, this seems like a no-brainer move.  If the maintainers are distant, I'm happy to take a shot at this.  Will check back in a week and if no update make a PR.

[2021-03-07 03:11] bernardd commented on #740
So I've got a few things to say on this:

Maintainer, singular. There's only one of me, and I only took over the project fairly recently. Help is always welcome.

Because the way we get metadata about things like region-specific hostnames and supported protocols on various services relies on it. It may surprise you to learn that AWS is not a big, homogenous blob which supplies completely identical

[2021-03-07 11:50] ericmj commented on #740
@bernardd First off, thanks for taking over the maintenance of `ex_aws` 💜

Sourcing the file from an official supported project sounds like a good idea, but I would recommend against fetching the file during compilation. It can be a bad developer experience if the library cannot compile because there is no network connectivity.

We have a similar problem in [castore](https://github.com/elixir-mint

[2021-03-07 12:37] TheoLeanse commented on #598
Hey! did this get resolved and if not, are you still looking for help? :)

[2021-03-08 00:19] bernardd commented on #740
Thanks @ericmj, those are excellent points and suggestions. I particularly like the idea of a nightly CI job to take care of it.

Out of curiosity, could you elaborate on the security issues that mean you don't make it a full automated process? I suspect they may be specific to the kind of work you're doing with certificates and not applicable to this case, but it'd be good to know for sure.

[2021-03-08 16:24] losvedir commented on #746
We just ran into this issue in our Windows app as well. The current master branch (this [commit](https://github.com/ex-aws/ex_aws/commit/4d161180f5447ccb872c81527a45ac8a98c51820)) has resolved the issue for us.

[2021-03-08 23:55] bernardd commented on #598
Nope, I don't think there's been any movement on it. And help is absolutely always welcome :)

[2021-03-12 18:31] mbklein opened #752 "Creating an S3 "folder" fails"
### Environment

* Elixir & Erlang versions (elixir --version):
[code]
* ExAws version `2.1.7`
* HTTP client version: `hackney 1.17.0`

### Current behavior

With `ExAws` 2.1.6 and earlier, it was possible to create a pseudo-folder in S3 by calling:
[code]
The trailing slash was the key to making it appear as a folder and not a zero-byte binary object in the parent folder.

Starting with `ExAws` 2

[2021-03-14 01:24] bernardd commented on #752
Thanks @mbklein - good catch. I've pushed a fix for this: #753

[2021-03-14 02:10] #752 closed

[2021-03-14 02:10] #746 closed

[2021-03-27 21:54] rmayhue commented on #703
Just wondering if anyone is still working on this since the PR above was submitted a while ago and is still open.

I'm running into this exact issue where spaces in the key are generating "The request signature we calculated does not match the signature you provided."

@kerryjj - I'm guessing that you're still using PR #704 ?

[2021-03-29 08:29] kerryjj commented on #703
@rmayhue Yes, I'm using PR #704 in production, because this is a real bug in the main repo and I can't work with out.

[2021-03-29 13:55] rmayhue commented on #703
@kerryjj Thanks for the reply. Yesterday I forked the main repo and generated a patch from PR #704 and it applied cleanly to master so I'm now using my forked repo. Like you, I can't work without it. Thanks for your work on PR #704, you saved me a bunch of time :+1:

[2021-03-29 14:51] kerryjj commented on #703
Good to hear.

I'm going to aim to get back to the PR this weekend and see if I can find
some info that would help with adding some new tests. Haven't had a chance
to yet and it's been quite hard to find concise info on how the encoding
works in all of the AWS services as it does seem to work differently
sometimes depending on which of the AWS APIs are being used.

On Mon, 29 Mar 2021 at 14:55, Ro

[2021-04-06 14:47] HoneyryderChuck opened #770 "Improvement: raise error when no bucket is available"
This is a kind improvement request, to save some times to the next person that falls into this trap.

I'd like that calls to S3 fail reliably when no bucket is passed, instead of passing nils downstream and let the lower layers fail in unreliable and cryptic ways. This refers to a given example like:

[code]

and when `bucket_name()` call returns nothing, because the environment variable isn't set

[2021-04-09 23:36] bernardd commented on #598
Resolved by #765 - thanks @TheoLeanse!

[2021-04-09 23:36] #598 closed

[2021-04-10 00:37] bernardd commented on #770
That seems reasonable enough. I'd be more than happy with a PR that threw an exception if `bucket_name()` returns `nil`, since I don't think there's any sensible way to recover from such a situation.

[2021-04-26 06:23] arnimikelsons opened #778 "Getting"
* Do not use the issues tracker for help or support (try Elixir Forum, Slack, IRC, etc.)
* Questions about how to contribute are fine.

### Environment

* Elixir & Erlang versions (elixir --version): Elixir 1.11.2 (compiled with Erlang/OTP 23)

* ExAws version `mix deps |grep ex_aws`
    * ex_aws 2.2.1 (Hex package) (mix)
      locked at 2.2.1 (ex_aws) 026b085b
    * ex_aws_s3 2.1.0 (Hex package)

[2021-04-26 13:27] pmenhart commented on #778
Found on [StackOverflow](https://stackoverflow.com/a/62164046):
sslv3 was removed from Erlang 23.0 because it is an old and insecure protocol. You need to upgrade hackney to 1.16.0 or higher so that you can get this PR that fixes that issue:

https://github.com/benoitc/hackney/pull/619

[2021-04-26 14:15] arnimikelsons commented on #778
Thank you so much. That did it!!

[2021-04-26 14:15] #778 closed

[2021-04-26 23:24] bernardd commented on #778
@pmenhart Thanks for replying - I should probably bump the minimum version of Hackney in the mix file to 1.16 so that others don't hit the same issue.

[2021-04-27 19:23] DouglasLutz opened #779 "Support for sa-east-1 on cognito-idp"
AWS recently added cognito service on south america region.

https://aws.amazon.com/about-aws/whats-new/2020/11/amazon-cognito-is-now-available-in-the-south-america-and-us-west-regions/

Would be nice to have support for sa-east-1 on cognito-idp service, in case of acceptance I would gladly open a PR for this issue.

[2021-04-28 10:26] bernardd commented on #779
No problem at all with adding it if you'd be kind enough to PR it.

[2021-04-28 16:22] dbernheisel opened #781 "SweetXml inline DTD vulnerability"
### Environment

* Elixir & Erlang versions: Elixir 1.10.4-otp-22
* ExAws version: ex_aws 2.1.6 and ex_aws_s3 2.1.0
* HTTP client version: hackney 1.16.0
* SweetXML version: 0.6.6

### Current behavior

There is a possibility of an attack via XML parsing. Trusted sources such as AWS responses may not be a high risk, but I'm unaware of this parser is used for any user-sourced XML. Either way it may

[2021-04-28 21:17] #779 closed

[2021-04-29 05:38] bernardd commented on #781
Sounds good, thanks @dbernheisel. I'll keep an eye out for the release.

[2021-04-30 13:03] tejpochiraju commented on #489
Hi all,

I wrote a small Python based code generator to create the type-specced Elixir module for the IoT service. I am looking for folks to help test and improve the generator.

The generator [is here](https://github.com/IoTReady/ex_aws_codegen) and the generated module [is here](https://gist.github.com/tejpochiraju/d32d80daf9982e5dc7853d8db17cd35b). I couldn't get the formatting right in the gis

[2021-05-01 00:18] bernardd commented on #489
Hey @tejpochiraju - this looks lie a great start. A few suggestions I'd make:

Elixir has its own templating language (https://hexdocs.pm/eex/EEx.html), which may or may not be easier to deal with than using python (not that there's anything wrong with python, just wanted to make sure you were aware of the option).

To make your generated code a little more readable, you can run `mix format` over

[2021-05-01 02:37] tejpochiraju commented on #489
Thanks @bernardd - I was planning to migrate to Jinja if the generated code worked (seems to, tried a few queries).

- I am familiar with EEx but not with Elixir CLI tools, let me brush up.
- Will run `mix format` - I think it's a spaces vs tabs issue here when pasting into Github Gists.
- I will change it so only a query is returned
- When I have some time next week, I will try and generate tests

[2021-05-01 08:09] tejpochiraju commented on #489
- I have updated the generator to use Jinja - much cleaner and easier to reason with.
- Each function now returns a query
- I am running `mix format` at the end of generation.

The code still compiles and the queries seem to work. I have updated the [gist too](https://gist.github.com/tejpochiraju/d32d80daf9982e5dc7853d8db17cd35b).

[2021-05-03 01:07] bernardd commented on #489
Yep - there's a couple of ways to approach it. The first is to just use default parameters:

`def some_op(param1, param2, optional_param1 \\ nil, optional_param2 \\ nil) do ...`

The second is to just provide an optional options list:

`def some_op(param1, param2, opts, \\ []) do ...`

In the latter case the caller does something like

`some_opt(param1, param2, optional_param2: op2_value)`

and it

[2021-05-03 01:09] bernardd commented on #489
I should add that for the ex_aws_chime case, some calls had sub-objects - for those cases I ended up defining a full module/struct for them, which allows the specs for the functions to be fairly clean - feel free to take a look, though please don't take is as the One True Way to do things :)

[2021-05-03 15:36] tejpochiraju commented on #489
Alright, let me take a look at `ex_aws_chime`. I am using the generated `ex_aws_iot` module and compiling a list of usability improvements. I should have time this week to fix up the generator a bit more.

[2021-05-20 18:04] sescobb27 opened #794 ":telemetry.span/3 is undefined or private"
### Environment

* Elixir & Erlang versions (elixir --version): 1.11.3
* ExAws version: 2.2.3

### Current behavior

hi @bernardd just upgrade to latest version of ExAws but now i'm getting

Change introduced here https://github.com/ex-aws/ex_aws/pull/785

[code]

### Expected behavior

to have telemetry as optional dependency or to not get undefined function

[2021-05-22 02:11] bernardd commented on #794
Dang, thanks @sescobb27 . Turns out the specified version of telemetry was a bit loose and allowed earlier minor versions that didn't include the function. I've fixed it up.

[2021-05-22 02:29] #794 closed

[2021-05-24 22:31] superhawk610 commented on #521
We just ran into this as well - the issue is that `ExAws.Config.retrieve_runtime_config/1` overrides _all_ properties set in `~/.aws/{config, credentials}`, not just those specified. I'll open a PR to resolve shortly.

[2021-06-04 08:30] Maxim-Filimonov opened #797 "Confusing errors raised when missing configuration"
### Environment
* Elixir & Erlang versions (elixir --version):
Erlang/OTP 23 [erts-11.2.2.2] [source] [64-bit] [smp:6:6] [ds:6:6:10] [async-threads:1] [hipe]

Elixir 1.11.4 (compiled with Erlang/OTP 23)

* ExAws version `mix deps |grep ex_aws`
* ex_aws (Hex package) (mix)
  locked at 2.2.3 (ex_aws) 8ddf1da9
* ex_aws_s3 (Hex package) (mix)
  locked at 2.2.0 (ex_aws_s3) 15175c61
* ex_aws_ses (Hex pa

[2021-06-11 16:08] chris-brace opened #798 "ExAws.Config.retrieve_runtime_value getting throttled"
### Environment

* Elixir & Erlang versions (elixir --version):
Elixir 1.11.4
Erlang/OTP 23 [erts-11.2.2.3] [source] [64-bit] [smp:2:1] [ds:2:1:10] [async-threads:1]

* ExAws version `mix deps |grep ex_aws`
[code]

* HTTP client version. IE for hackney do `mix deps | grep hackney`
[code]

### Current behavior

I am using Broadway's SQS module to listen to a queue. Every once and a while, since Jun

[2021-06-11 16:18] chris-brace commented on #798
I have to assume its a request to an IAM or STS endpoint happening somewhere around here https://github.com/ex-aws/ex_aws/blob/master/lib/ex_aws/config.ex#L92

[2021-06-20 06:40] #521 closed

[2021-06-20 06:42] bernardd commented on #797
Yep, I'd definitely agree that improved errors would make some of this stuff a lot easier. I've hit almost exactly this one myself. PRs to that effect would be most welcome.

[2021-07-07 13:27] gseddon opened #800 "consistent timeouts when concurrently uploading large files"
### Environment

* Elixir & Erlang versions: Elixir 1.12.1 (compiled with Erlang/OTP 24)
* ExAws version: 2.23
* HTTP client version: hackney 1.17.4 (note that behaviour is replicated when using both Gun and Mint too)

### Current behavior

We start getting errors as soon as you start trying to concurrently upload multiple large (>5mb) files.
The error is triggered as soon as you upload more than

[2021-07-08 01:35] gseddon commented on #800
After testing again with a gigabit internet connection, I have found that you need to increase 'n' to something like >50 to trigger the error.

[2021-07-19 15:41] benkeil opened #802 "Support SESSION_TOKEN to authenticate"
It would be nice to have more login options in order to work with assume role or awsume.

[2021-07-20 19:41] trbngr commented on #802
this already works for me in a lambda.

[code]

[2021-07-21 13:54] benkeil commented on #802
Ok, it works. Then we should just add it to the documentation. And maybe we could rename security_token to session_token to be more conform with the aws api.

[2021-07-21 16:48] SerikDM commented on #371
I probably miss something, but I can't find anything about this in documentation. Having same issue.
I added `:ex_aws` to `:extra_applications` in `mix.exs`. What else should be done?

[2021-07-26 01:03] bernardd commented on #800
At the risk of being glib, you're seeing the HTTP timeouts because the HTTP request is timing out :)

The `timeout` and `max_concurrency` settings in the `ExAws.S3.upload/4` call control the timeout and concurrency for that stream from ExAws's perspective. Since you're making a bunch of separate requests, each with a `max_concurrency` of 1, they're all happening at the same time (as the log shows)

[2021-07-26 01:03] #800 closed

[2021-07-26 01:17] bernardd commented on #802
If you're able to do a PR to add it to the docs that would be awesome.

[2021-07-26 01:19] bernardd commented on #371
Are you making an ex_aws call from a runtime.exs or releases.exs dynamic config file? Because in those instances you need to start it explicitly.

[2021-07-26 07:35] SerikDM commented on #371
Thank you for your reply, now I was trying to reproduce the issue in a sandbox, but didn't manage to. I removed aws credentials workaround and my application works now. :man_shrugging:
I think my problem was testing connection manually via `app eval` command(which still fails).

[2021-07-27 02:53] benkeil commented on #802
It would be a breaking change, how to deal with it? add a new parameter and deprecate the old one?

[2021-07-27 02:58] bernardd commented on #802
No, I just meant a PR to add it to the docs. We could make both names work, sure, but the feature already exists so I don't see huge value in doing that.

[2021-08-09 16:24] wmnnd opened #808 "[New Feature?] AWS Signature validation"
Hey there,

maybe I’ve missed an existing feature, but it seems to me that currently ExAWS doesn’t have a public function for validating the signature in JSON messages *from* AWS, particularly from SNS Notifications.
Is this a feature you think might make sense including in ExAWS?

It’s pretty straightforward, but I think making it available as part of the ExAWS project might benefit other users a

[2021-08-31 00:32] #802 closed

[2021-08-31 00:32] #709 closed

[2021-08-31 00:42] bernardd commented on #808
Hi @wmnnd - apologies for the delay getting back to you. Do you know which services make use of that signature system? If it's more than one or two then it seems like it would make sense to just stick it in here in the core ExAws library. Since we've already got an `ExAws.Auth.Signatures`, that would seem like the logical place to put it. Thanks!

[2021-09-02 19:04] ZombieHarvester opened #814 "v2.2.4 returns InvalidAccessKeyId on S3 calls from EC2 with instance role"
Elixir: 1.12.1 compiled with Erlang/OTP 24
ex_aws: 2.2.4
ex_aws_s3: 2.3.0
hackney: 1.17.4

### Current behavior
[code]
raises

[code]

### Config

[code]

Uses instance role auth on EC2, access key is not set in env

### Expected behavior

Same as in v2.2.3: file is uploaded, status_code 200 returned.

### Comment

Locally it works fine with access key auth on both v2.2.3 and v2.2.4.  On EC2 with

[2021-09-02 23:07] everettvody opened #815 "No Git tag for v2.2.4"
How do we know what actually is in the hex package if there isn't a git tag for it?

[2021-09-03 00:17] bernardd commented on #815
Well, you can look at the diff on hex.pm, but thanks for the reminder :)

[2021-09-03 00:17] #815 closed

[2021-09-03 00:26] bernardd commented on #814
Oops, interesting. My guess is that it's most likely to do with #796, though it's not immediately obvious how. I'll take a look at it as soon as I can.

[2021-09-03 08:25] wkirschbaum commented on #814
We are getting %{code: "InvalidClientTokenId", message: "The security token included in the request is invalid."} for ExAws.SES.send_email on AWS ECS after upgrading to 2.2.4, but it works as expected on 2.2.3

[2021-09-04 05:17] bernardd commented on #814
@ZombieHarvester @wkirschbaum If you're able to, could you try out the code on the `config_fixes` branch please? I ended up having to rework the config loading system to be able to fix both this bug and #796, and while it passes all the tests plus the new ones I added, I'd love for you guys to try it out before I do another release. Cheers.

[2021-09-04 11:29] wkirschbaum commented on #814
@bernardd thanks for checking. yes, i will have a look over the weekend.

[2021-09-04 12:20] ZombieHarvester commented on #814
@bernardd I have tried, same result as on 2.2.4

My steps to reproduce:

### v.2.2.3

[code]

### config_fixes branch or 2.2.4

[code]

I have noticed that on 2.2.4 and config_fixes config security_token is missing. Maybe that is the reason?

###  2.2.3 config

[code]

###  2.2.4 config

[code]

[2021-09-05 08:47] bernardd commented on #814
Ah, thanks @ZombieHarvester - I see the issue now. Now I just have to figure out how to fix it.

[2021-09-05 23:55] bernardd commented on #814
Okay, having spelt on it, what I'm going to to is just revert the change that caused the breakage, and figure out a more comprehensive solution for a minor release (since it will inevitably involve changing some behaviour. And it's a safe bet that no matter how obscure the behaviour is, *someone* is going to be relying on it.

Thanks for the report and the help tracking it down.

[2021-09-06 00:15] #814 closed

[2021-09-07 21:01] anmlnath commented on #781
SweetXml 0.7.0 is released (0.7.1 even):

https://github.com/kbrw/sweet_xml/issues/71#issuecomment-901770808

https://github.com/kbrw/sweet_xml/blob/master/CHANGELOG.md

[2021-09-08 00:20] #781 closed

[2021-09-08 00:20] bernardd commented on #781
Thanks @andrevdm - I've bumped the minimum version in mix.exs

[2021-09-08 00:26] dbernheisel commented on #781
Just want to point out that using the newer version doesn't cover the issue, I think you'd have to specify options as well to avoid DTD bombing.

[2021-09-08 00:46] bernardd commented on #781
Ah, dang, thanks @dbernheisel. I get it now. Just give me a moment here :)

[2021-09-08 00:59] bernardd commented on #781
There we go, that should do it https://github.com/ex-aws/ex_aws/commit/cf5dbcb29b07c46b7c1c9c2f19a749ab069fd9dd#diff-cc3c9ea16b7b52b9ec61704993ac4e46bd0d6403262214c48635973cd903757d

[2021-09-17 16:22] alexserver commented on #467
I know this issue is closed, but can the repo owners to put this very important thing in the documentation ?
there's no place where the documentation says you can set a port, and I only discovered this googling and coming to this issue.
if you put this in the documentation, you will save a lot of lost souls
please

[2021-09-18 05:18] bernardd commented on #467
@alexserver It's, like, right at the top of the section entitled "Configuration". I have no idea where else you think it should live: https://hexdocs.pm/ex_aws_s3/2.3.0/ExAws.S3.html#module-configuration

[2021-09-20 22:10] brunovsiqueira commented on #330
@benwilson512 how about SNS FIFO? Is it supported?

[2021-09-20 22:36] bernardd commented on #330
@brunovsiqueira The service-specific stuff has long-since been broken out into its own repos. Check out https://github.com/ex-aws/ex_aws_sns

[2021-09-30 07:23] dsdshcym opened #824 "Got `ExpiredToken` error when `ExAws.S3.list_objects("my-bucket") |> ExAws.stream!` runs for a long time"
### Environment

* Elixir & Erlang versions (elixir --version):
[code]
* ExAws version `mix deps |grep ex_aws`
[code]
* HTTP client version. IE for hackney do `mix deps | grep hackney`
[code]

### Current behavior

Currently, `ExAws.stream!` would pass a new `config` struct to the lazy function,
https://github.com/ex-aws/ex_aws/blob/87ec5641e53983fc627918a336d1a2c310489b70/lib/ex_aws.ex#L105
when

[2021-09-30 09:48] dsdshcym commented on #824
Same issue happens to `S3.Download` as well:
when downloading some large files from S3, if the download starts just before the token expiration, the download for later chunks might raise `ExpiredToken` error (since the token was issued when requesting the first chunk)

[2021-10-13 16:22] ewestern opened #828 "Config creation ignores region settings"
* Do not use the issues tracker for help or support (try Elixir Forum, Slack, IRC, etc.)
* Questions about how to contribute are fine.

### Environment

Erlang/OTP 24 [erts-12.0.4] [source] [64-bit] [smp:16:16] [ds:16:16:10] [async-threads:1] [jit]

Elixir 1.12.2 (compiled with Erlang/OTP 24)

* ExAws version `mix deps |grep ex_aws`
* ex_aws 2.2.6 (Hex package) (mix)
  locked at 2.2.6 (ex_aws) c22

[2021-10-15 10:18] JonRowe opened #829 "Latest version adds dependency on out of date mime package."
Hello, the latest patch version of ex_aws adds a dependency incompatible with up to date Phoenix installs (mime is currently on 2.x not 1.x), this means people cannot upgrade to the latest due to existing dependencies. Ideally you should change mime to depend on `~> 1.2 or ~> 2.0` or if you're going to add a incompatible dependency that should be a major version bump under semver so that its flagg

[2021-10-18 00:09] #829 closed

[2021-10-27 21:26] ericfreese opened #837 "No git tag for v2.2.7"
It looks like a git tag was never created for v2.2.7. It'd be nice to get this in so that code links from hexdocs resolve correctly. As it is now, if you click the code icon to the right of a heading here (https://hexdocs.pm/ex_aws/ExAws.html) you get a 404 like https://github.com/ex-aws/ex_aws/blob/v2.2.7/lib/ex_aws.ex#L1

[2021-11-07 09:17] bernardd commented on #824
Right, yeah, that sounds like the right solution. Probably like you I'm buried under a pile of work at the moment so it isn't likely I'll get to it myself in the short term.

[2021-11-07 09:24] bernardd commented on #837
Thanks for the reminder @ericfreese - I've added a tag.

[2021-11-07 09:24] #837 closed

[2021-11-07 14:17] dsdshcym commented on #824
No worries, I'll see what I can do when I get some time
(Or someone else may pick it up 😆)

[2021-11-19 23:38] #673 closed

[2021-11-26 13:13] brunozrk opened #841 "ex_aws_sns project - maintenance"
Sorry if this is not the right place to ask (but is about contribution 😄 ), but is the project https://github.com/ex-aws/ex_aws_sns/ still maintained?

I opened a PR (https://github.com/ex-aws/ex_aws_sns/pull/19) there but I realized that there are very old ones without response

[2021-11-29 05:46] bernardd commented on #841
Hi @brunozrk - the answer is "not actively by me" :) I kind of inherited ex_aws last year and I'm still figuring out who, if anyone, looks after all the different sub-packages. I do, however, have write access on all of them so I'll try to take a look at your patch and the others this coming weekend.

[2021-11-30 12:42] brunozrk commented on #841
Oh, Thanks @bernardd

[2021-11-30 12:42] #841 closed

[2021-12-08 08:45] ymtszw opened #843 "Support AWS SSO Credential Provider"
### Environment (at the moment of writing)

* ExAws version: 2.2.8

### Background

Currently, ex_aws supports "shared credentials" provider which reads traditional aws_access_key_id and aws_secret_access_key from `~/.aws/credentials` or `~/.aws/config` files. These files originate from CLI authentication mechanism using IAM users.

However, recent AWS CLI supports AWS SSO authentication mechanism

[2021-12-10 13:51] avivek opened #844 "Support for me-south-1 for cloud watch logs and cloud watch metrics"
I am using the library https://github.com/noxdafox/rabbitmq-cloudwatch-exporter which internally uses this library for the AWS functions.
We have deployed in the me-south-1(Bahrain region).
The me-south-1 region supports cloudwatch metrics and also cloud watch logs but the library needs to be updated for the same.

I am thinking that the changes are minor and would require changes in the below sec

[2021-12-10 18:05] avivek commented on #844
@bernardd Raised the following PR for the same.
Please review
https://github.com/ex-aws/ex_aws/pull/845

[2021-12-12 09:41] #844 closed

[2021-12-13 10:50] avivek commented on #844
@bernardd how do we get this on a release so that the dependent library can update its dependencies.

[2021-12-18 08:53] bernardd commented on #844
You ask nicely then wait until I have a spare moment :)

[2021-12-27 10:54] aram0112 opened #849 ""Signature Does Not Match" Error when uploading file with space or special characters in key via S3.upload."
### Environment

Elixir 1.12.1 (compiled with Erlang/OTP 24)
ex_aws: 2.2.9
hackney: 1.18.0

### Current behavior

Include code samples, errors and stacktraces if appropriate.

### Expected behavior

[2022-01-03 17:45] kyleVsteger commented on #843
@ymtszw Thanks for opening this up. We're facing similar transitional pressure as well. Have you made any progress on implementing this feature on a fork? I took a peek at the code and I couldn't find a straight forward way to implement an `:aws_sso` option

[2022-01-03 18:00] ymtszw commented on #843
Haven't. In fact we have introduced glueing shellscript (not executable, rather `source`-able script) for now.

It:

* gets short-lived credentials as per in Ruby SDK, but using aws cli
  * Just call `aws sso get-role-credentials`
  * If failed, prompt users to re-login
  * Required parameters including an access token, can be found in cache json
* exports the acquired credentials as environment v

[2022-01-05 14:25] kyleVsteger commented on #843
Sounds like we wrote the same script 👍

[2022-01-11 16:41] joeybaer commented on #843
[aws-sso-cli](https://github.com/synfinatic/aws-sso-cli) looks promising for others needing a similar script

I started to lay this out in my fork [here](https://github.com/joeybaer/ex_aws/pull/1/files)

Building off of @ymtszw awesome writeup, my idea here was the following:

- If a user is using the `:awscli` option and has AWS SSO configured, I wanted to try to keep the flow the same and add fu

[2022-01-13 16:00] kyleVsteger commented on #843
Thanks for lining that PR up @joeybaer — I left one comment and will take a look back in a couple of days. I'm not a maintainer of this lib but am interested in contributing back and potentially refactoring some stuff in this repo. I think it makes sense to have individual modules for each provider, but that's a large undertaking.

[2022-01-13 16:39] patrickespake opened #852 "How to implement Chunked HTTP Uploads using ex_aws_s3 and UpChunk for AWS S3 Bucket"
Hi guys,

I am trying to implement chunked http uploads using **ex_aws_s3** and **UpChunk**.

I am following the documentation: [https://hexdocs.pm/phoenix_live_view/uploads-external.html#chunked-http-uploads](https://hexdocs.pm/phoenix_live_view/uploads-external.html#chunked-http-uploads)

But I don’t know how to configure the method **presign_upload** to gererate the aws s3 link with the upload

[2022-01-23 10:01] bernardd commented on #770
Resolved by #853

[2022-01-23 10:01] #770 closed

[2022-03-03 20:14] mjheilmann opened #863 "Incorrect typespecs for responses"
At https://github.com/ex-aws/ex_aws/blob/main/lib/ex_aws/request.ex#L9, the error response is defined simply as

```@type error_t :: {:error, {:http_error, http_status, binary}}```

However there are code paths (such as https://github.com/ex-aws/ex_aws/blob/main/lib/ex_aws/request.ex#L137) that return non-binary data as the third member of that tuple, such as this abbreviated response I had receiv

[2022-04-01 08:35] jbonet commented on #467
This is not true, its only for S3, but not for every other service. How to do this for Kinesis?

[2022-04-05 18:23] juanazam commented on #798
@chris-brace I think this is indeed happening because of using STS.

Here it's where the STS auth handler is being called
https://github.com/ex-aws/ex_aws/blob/a317020599792823d0aa03dc8699aae36d2dc866/lib/ex_aws/config/auth_cache.ex#L75

And here is where the request is actually done
https://github.com/ex-aws/ex_aws_sts/blob/b5393dc76a9105558466a89444f4c6afe338cc79/lib/ex_aws/sts/auth_cache/assume

[2022-04-11 01:18] bernardd commented on #798
Yeah, that's definitely less than ideal. I think the first part of the answer is that we definitely don't want to be caching failures - no good will come of that :) From what I can see, the difficulty comes from the fact that we're trying to transparently refresh the token, and there's no real error path defined if that fails. And since that error would have to be propagated all the way back up to

[2022-04-11 23:23] #843 closed

[2022-04-12 12:42] hoyon opened #869 "Latest version crashes on ECS fargate"
### Environment

* Elixir & Erlang versions (elixir --version): 1.13.2
* ExAws version `mix deps |grep ex_aws`: 2.3.0
* HTTP client version. IE for hackney do `mix deps | grep hackney`: 1.18.1

### Current behavior

Running an elixir app with ex_aws on ECS fargate crashes on startup when using the latest version of ex_aws.

Error message:

[code]

I think this is because of the new IMDSv2 support

[2022-04-13 09:06] gesta opened #870 "HEAD and OPTIONS verbs missing from the HTTP method type spec"
### Environment

* Elixir & Erlang versions (elixir --version): 1.12.3
* ExAws version 2.3.0
* ExAwsS3 version 2.3.2
* HTTP client version. 1.18.1

### Current behavior

The HTTP method [type spec](https://github.com/ex-aws/ex_aws/blob/main/lib/ex_aws/request/http_client.ex#L48) is a subset of the supported verbs. [HEAD](https://github.com/ex-aws/ex_aws_s3/blob/main/lib/ex_aws/s3.ex#L824) and [OPT

[2022-04-18 22:23] kipcole9 opened #872 "Git tag for release v2.3.0 missing"
There is no tag for v2.3.0 meaning that code links in docs on hexdocs.pm return a 404.  I think the resolution is as simple as tagging the release in the repo.

[2022-04-20 19:11] rubysolo opened #874 "InstanceMeta bug in v2.3.0"
### Environment

* Elixir & Erlang versions (elixir --version):
[code]

* ExAws version `mix deps |grep ex_aws`
[code]

* HTTP client version. IE for hackney do `mix deps | grep hackney`

[code]

### Current behavior

Version 2.3.0 does not work as expected with our S3 configuration.  When we hit [this line](https://github.com/ex-aws/ex_aws/compare/v2.2.10...main#diff-cce3661f7586d2f00507c2ad044c6

[2022-04-21 02:00] #870 closed

[2022-04-21 02:02] bernardd commented on #872
Whoopsie, thanks. I really should write a script to do that for me. Fixed now.

[2022-04-21 02:02] #872 closed

[2022-04-21 23:33] #869 closed

[2022-04-21 23:36] bernardd commented on #874
Hi @rubysolo - thanks for the report. A PR is most welcome, but before you do just double-check that it's not already been resolved by the fix in #873. Cheers.

[2022-04-22 20:12] rubysolo commented on #874
I reproduced this issue on c8015be.  I'm testing a fix and will PR once verified.

[2022-05-02 19:55] SteffenDE commented on #874
If somebody stumbles across timeouts:
Currently, using ex_aws on an EC2 instance inside docker using the instance role fails for me in 2.3.1.
[code]

This is because of the default hop limit, see https://stackoverflow.com/questions/71884350/using-imds-v2-with-token-inside-docker-on-ec2.

Can be fixed by using
[code]

It took me quite a while to figure this out...

[2022-05-15 03:36] #874 closed

[2022-05-20 15:13] SteffenDE opened #882 "Unable to get error details"
So I'm currently experimenting with AWS Timestream. The ex_aws_timestream repo works fine, but when there is a `RejectedRecordsException`, there seems to be no way of getting the index of the failed record.

This seems to be caused by this line https://github.com/ex-aws/ex_aws/blob/903eed1550949a0df43f025b126f19868218b22b/lib/ex_aws/request.ex#L152 that does not return any error details.

The plai

[2022-06-08 06:10] bernardd commented on #727
`af-south-1` is now in the endpoints file.

[2022-06-08 06:10] #727 closed

[2022-06-08 06:34] bernardd commented on #882
The problem here is that we have a common error handling system for all services, even though they can all return different service-specific error info. We currently have a couple of special-case handlers, but really the handling should be delegated to the service that made the request in the first place.

What I'd like to do to resolve this is allow the service module to define a particular callb

[2022-06-23 03:56] kipcole9 opened #890 "ExAws.request attempting to parse XML with Jason when S3.put_bucket bucket exists"
* Do not use the issues tracker for help or support (try Elixir Forum, Slack, IRC, etc.)
* Questions about how to contribute are fine.

### Environment

* Elixir 1.13
* OTP 25
* Hackney 1.18.1
* Ex_aws 2.3.2
* Ex_aws_s2 2.3.2
* Minio as the S3 server

### Current behavior

The response is in XML but there is an attempt to parse it with Jason.
[code]

### Expected behavior

The error is parsed corr

[2022-06-23 06:27] #890 closed

[2022-06-30 08:25] #798 closed

[2022-06-30 18:24] cpursley opened #891 ">= 2.3.0 AuthCache issue"
### Environment

* Elixir 1.13.4 & Erlang 24.3.3
* ex_aws 2.2.10 & ex_aws_s3  2.3.3
* hackney 1.18.1

### Current behavior

After upgrading from `2.2.10` -> `2.3.0` on Elixir `1.13.4`, I'm getting this error:

[code]

[2022-07-04 01:21] bernardd commented on #891
Most likely ex_aws app isn't being properly started in your app. In earlier versions this didn't matter because there was no setup to do, but as of 2.3 it must be started along with other dependant apps.

[2022-07-04 09:03] #891 closed

[2022-07-11 02:41] jaeyson commented on #592
Raising `:timeout` worked, Thanks @benwilson512.

[2022-07-13 12:14] kyleVsteger opened #894 "2.3.3 — `ExAws.STS.AuthCache.AssumeRoleWebIdentityAdapter` Fails in China"
### Environment

* Elixir & Erlang versions (elixir --version):
[code]
* ExAws version `mix deps |grep ex_aws`
[code]
* HTTP client version. IE for hackney do `mix deps | grep hackney`
[code]

### Summary
I was unable to authenticate using the `ExAws.STS.AuthCache.AssumeRoleWebIdentityAdapter` in `cn-northwest-1` after updating from `2.2.10` -> `2.3.3`.

### Current behavior
**Config**
[code]

**S

[2022-08-10 01:54] tomjakubowski commented on #828
Just a note for other readers, same bug as #521. That one has a more complete description of the problem, that it involves profiles configured in `~/.aws/config` with a region

[2022-08-17 01:23] bernardd commented on #894
Ki @kyleVsteger - apologies this took so long. Life happened etc etc, and also it wasn't quite the trivial fix I thought it might have been. If you can try v2.3.4 and let me know if it resolves this, that would be great, thanks.

[2022-08-25 14:39] kyleVsteger commented on #894
I'll put this on my list of things to check during our cooldown cycle. Thanks @bernardd!

[2022-09-01 15:46] cjbottaro commented on #824
Any update on this? We're running into the exact same issue; creds expiring after 6 hours, but our `Ex.Aws.stream!` is taking longer than that.

[2022-09-05 21:38] somoza commented on #149
In addition to this:

[code]

[2022-09-07 05:50] bernardd commented on #882
This feature is now available as of 2.4.0. See #902

[2022-09-07 05:50] #882 closed

[2022-10-24 19:44] ironaimer opened #913 "Retry cycle is performed one attempt less than expected"
### Environment

* Elixir & Erlang versions (elixir --version): Erlang/OTP 23, Interactive Elixir (1.10.4)

* ExAws version `mix deps |grep ex_aws`2.0.2
* HTTP client version. IE for hackney do `mix deps | grep hackney` 1.16

### Current behavior
In case of SQS unavailability retry cycle is executed one iteration less than expected.

It seems strict ">" should be used in attempt_again? in request.

[2022-10-27 16:39] cdegroot opened #914 "Crash when HOME is not set"
We use the "three-step" auth method as documented: env var, ~/.aws profile, ecs/instance profile. This allows our code to run on a variety of platforms with a single configuration and it works perfectly.

Today, I installed said code as a systemctl-managed daemon and that failed:

[code]

The cause is clear: the code in `file.ex` uses `System.user_home()` which ends up basically reading the `HOME`

[2022-10-29 16:12] andreragsilva commented on #636
@bernardd can we also give @guilherme1805 push permissions to the repo? 🤔

[2022-11-13 23:55] bernardd commented on #913
I may be wrong, but that's not how I read it:
* `attempt` is initially set to `1` (`request.ex:20`).
* An attempt is made.
* If it fails, `attempt_again?` is called. Now in this circumstance:
  * If `max_attempts` is `1`, the >= condition will match and we'll fail.
  * If `max_attempts` is `2`, the >= condition will not match, and we'll go to the `else` block
* At this point, we add 1 to the `atte

[2022-11-14 00:25] bernardd commented on #914
That's totally fine with me - any relatively sane behaviour is preferable to a crash :) A PR to that effect would be most welcome.
Apologies for the delay getting back to you.

[2022-11-14 00:33] bernardd commented on #636
Hey @andreragsilva - I've added @guilherme1805 and also given you both admin rights so that you can add other people and manage the repo properly yourself (which I should have done originally). Apologies for the delay.

[2022-11-17 22:56] #730 closed

[2022-11-28 00:48] #664 closed

[2022-11-30 01:34] andrejj opened #919 "secret_access_key must be a string, but instead is [{:awscli, :system, 30}]"
### Environment

* Elixir & Erlang versions (elixir --version): `Elixir 1.14.2 (compiled with Erlang/OTP 24)`
* ExAws version `mix deps | grep ex_aws`
[code]
* HTTP client version. IE for hackney do `mix deps | grep hackney`
[code]
### Current behavior

I'm trying to initialize the app by puling config parameters from SSM.
locally it works.
The problem is it doesn't work when I push the docker ima